<nav class="navbar navbar-expand-lg">
  <h4><a   routerLink="/home">Reach Anand!</a></h4>
  <span class="spacer"></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationBar" (click)="toggleButton()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navigationBar" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
       <h5><a class="nav-link" routerLink="/recommendation">Recommendations</a></h5>
      </li>
      <li class="nav-item">
        <h5><a *ngIf="!isLoggedIn" class="nav-link"  routerLink="/login">Login</a></h5>
        <h5 style="color: white" *ngIf="isLoggedIn"  (click)="logOut()">Logout</h5>
      </li>
    </ul>
  </div>
</nav>
