<div class="container" style="margin-top: 2%">
  <div class="row">
    <div class="col-md-6 col-sm-12" style="margin-top: 16px">
      <button class="btn btn-primary btn-block google" (click)="googleSignInViaPop()">
        <i class="fa fa-google" aria-hidden="true"></i> Google Login</button>
      <button class="btn btn-primary btn-block github" (click)="githubSignInViaPop()">
        <i class="fa fa-github" aria-hidden="true"></i> Github Login</button>
    </div>
    <div class="col-md-6 col-sm-12" style="margin-top: 16px">
      <button class="btn btn-primary btn-block google" (click)="googleSignInViaRedirect()">
        <i class="fa fa-google" aria-hidden="true"></i> Google Login with Redirect</button>
      <button class="btn btn-primary btn-block github" (click)="githubSignInViaRedirect()">
        <i class="fa fa-github" aria-hidden="true"></i> Github Login with Redirect</button>
    </div>
  </div>
</div>
