.image-wrapper{
  display: flex;
  float:right;
  margin-top: 8px;
}

button {
  margin-top: 8px;
}

img{
  height: 40px;
  width: 40px;
}
.marginLeft{
  margin-left: 8px;
  margin-top: 8px;
}

input{
  margin-bottom: 8px;
}
input:focus,
textarea:focus {
box-shadow: none;
}
