<div class="box">
  <div class="col-md-4 col-sm-12" style="margin-top: 1rem;">
    <div class="card" style="width: 100%; margin-bottom: 1rem">
      <div class="card-body">
        <img src="../../assets/img/download.png">
        <h4 class="card-title marginTop16px">Anand Verma</h4>
        <h6 class="card-subtitle mb-2 purple">Full Stack Javascript Developer</h6>
        <p class="card-text">
          <mat-chip-list>
            <mat-chip color="primary" selected *ngFor="let skill of skills">{{skill}}</mat-chip>
          </mat-chip-list>
        </p>
        <hr>
        <div class="hideOnSmall">
          <h5 class="mb-2 purple">Education</h5>
          <ul>
            <li *ngFor="let grad of gradDetails">
              <h6 class="card-text">
                {{grad}}
              </h6>
            </li>
          </ul>
          <hr>
          <h5 class="mb-2 purple">Achievements/Rewards</h5>
          <ul>
            <li *ngFor="let ach of achievements">
              <h6 class="card-text">
                {{ach}}
              </h6>
            </li>
          </ul>
          <h5 class="card-title purple">Reach Anand</h5>
          <ul>
            <li>
              <a class="purple" href="https://github.com/anandverma08">Reach out to me on Github</a>
            </li>
            <li>
              <a class="purple" href="https://www.linkedin.com/in/anandverma08/">Reach out to me on LinkedIn</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-12" style="margin-top: 1rem;">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title marginTop16px purple">Professional Summary</h5>
        <h6 class="card-text">
          {{pSummary}}
        </h6>
        <h5 class="card-title marginTop16px purple">Key Strength</h5>
        <ul>
          <li *ngFor="let sum of summary">
            <h6 class="card-text">
              {{sum}}
            </h6>
          </li>
        </ul>

        <h5 class="card-title marginTop16px purple">Skills</h5>
        <div *ngFor="let skill of skillProgressBar">
          <p class="card-text" style="margin-top: 8px">{{skill.skill}}</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: #673ab7"
              [style.width]="skill.progress">
            </div>
          </div>
        </div>
        <h5 class="card-title marginTop16px purple">Work Experience</h5>
        <h5 class="mb-2">Tata Consultany Services</h5>
        <h6 class="mb-2">System Engineer : Sept 2019 - Present</h6>
        <ul>
          <li *ngFor="let task of systemEngineer">
            <h6 class="card-text">
              {{task}}
            </h6>
          </li>
        </ul>
        <br>
        <h5 class="mb-2">Tata Consultany Services</h5>
        <h6 class="mb-2">Assistant System Engineer : Sept 2017 - Sept 2019</h6>
        <ul>
          <li *ngFor="let task of assistantSystemEngineer">
            <h6 class="card-text">
              {{task}}
            </h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-12 viewInSmall" style="margin-top: 1rem; margin-bottom: 5rem;padding-bottom: 2rem">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="mb-2 purple">Education</h5>
        <ul>
          <li *ngFor="let grad of gradDetails">
            <h6 class="card-text">
              {{grad}}
            </h6>
          </li>
        </ul>
        <hr>
        <h5 class="mb-2 purple">Achievements/Rewards</h5>
        <ul>
          <li *ngFor="let ach of achievements">
            <h6 class="card-text">
              {{ach}}
            </h6>
          </li>
        </ul>

        <h5 class="card-title purple">Reach Anand</h5>
        <ul>
          <li>
            <a class="purple" href="https://github.com/anandverma08">Reach out to me on Github</a>
          </li>
          <li>
            <a class="purple" href="https://www.linkedin.com/in/anandverma08/">Reach out to me on LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
